<mat-progress-bar
  *ngIf="isLoading"
  mode="indeterminate"
  class="example-tree-progress-bar">
</mat-progress-bar>


<div class="container-table" fxLayout="column" class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef fxShow fxHide.xs="true"> Created </th>
      <td mat-cell *matCellDef="let element" fxShow fxHide.xs="true">
          {{element.created || 0 | date:'dd/MM/yy HH:mm':'UTC'}}
      </td>
    </ng-container>

    <!-- Last changed Column -->
    <ng-container matColumnDef="changed" >
      <th mat-header-cell *matHeaderCellDef> Last changed </th>
      <td mat-cell *matCellDef="let element">
          {{element.changed || 0 | date:'dd/MM/yy HH:mm':'UTC'}}
      </td>
    </ng-container>

    <!-- Enabled Column -->
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Enabled </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-label="Enabled user">
          {{element.enabled ? 'check' : 'cancel'}}
        </mat-icon>
      </td>
    </ng-container>


    <!-- Activate/Disable Column -->
    <ng-container matColumnDef="disable">
      <th mat-header-cell *matHeaderCellDef  fxHide fxShow.gt-xs>
        <mat-icon aria-label="Disable user"></mat-icon>
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: right;" fxHide fxShow.gt-xs>
      <!--   <button mat-icon-button color="warn" (click)="deleteUser(element.id)">
          <mat-icon aria-label="disable user">delete</mat-icon>
        </button> -->
        <!-- color="primary" -->
        <mat-slide-toggle
          [checked]="element.enabled"
          [disabled]="element.id===(loggedUser$ | async)?.userId"
          (click)="toggleUser(element)">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow(row)" class="user-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
